html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 90vh;
}

#main-column {
  padding: 0;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main-content {
  width: 100%;
  height: 100%;
}

.zones-layer {
  z-index: 0;
}

.column {
  padding-right: 0;
}

.columns {
  padding: 0;
}

#columns-content {
  width: 100%;
  height: 100%;
}

.multiselect {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  float: left;
  margin-right: 1vh;
}

#selectors {
    margin: 2vh 0vh 1vh 4vh;
}

.selector {
  padding-right: 0;
}

.multiselect__content-wrapper /*, .multiselect__element */ {
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.multiselect__option {
  width: 100%; 
}

.multiselect--active {
  z-index: 2000;
}

.multiselect__content-wrapper {
  z-index: 2000;
}

.multiselect__option--highlight {
  background-color: #888;
}

.multiselect__option--selected.multiselect__option--highlight {
  background-color: #777;
}
.multiselect__tags {
  cursor: pointer;
}

div:has(> .b-slider) {
  text-align: center;
  margin: 10px 40px 35px 20px;
}
.b-checkbox.checkbox + .checkbox {
  margin: 0;
  width: 100%;
}

.b-radio.radio:not(.button) {
  margin: .125em 2.5em 1em 0;
}
.b-slider .b-slider-tick-label {
  top: calc(.25rem + 5px);
}

.tabs li.is-active a {
  color: #167df0;
  border-bottom-color:#167df0;
}
.tag:not(body) {
  margin-left: .5em;
}

.leaflet-control-layers-list {
  padding: 5px;
  text-align: start;
}
.leaflet-control-layers-selector {
  margin-right: 5px;
}
.leaflet-popup-content {
  white-space: nowrap;
}

.vue-ui-user-options-drawer {
  padding: 10px 15px !important;
  gap: 7px;
}
.vue-ui-xy-title > div.atom-title {
  padding-bottom: 1.5rem;
}

.flex {
  display: flex
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-modal {
  z-index: 2000 !important;
}

.bg-interscity {
  background-color: #2B303A;
}

.font1 {
  font-family: 'Nunito Sans', sans-serif;
}