# Local
NODE_ENV=development
VUE_APP_API_URL=http://localhost/api

# Homolog
NODE_ENV=production
VUE_APP_API_URL=http://143.107.45.126:30100/api
# Production
NODE_ENV=production
VUE_APP_API_URL_PRODUCTION=http://200.144.245.66/api
